




div.blank{
	height: 10px;;
}
div.passage{
	background: #e9ecef;
	 border-radius:20px;
	 padding: 10px;
	 margin : 10px;
	 opacity: 0.9;
}
div.tablerow{
	background: #e9ecef;
	 border-radius:20px;
	 padding: 10px;
	 margin : 5px 25px 5px 25px;
	 opacity: 0.8;
}
img.header{
	opacity: 0.8;
}

h2.welcome{

	margin:10px;
}

h2.passage{

	 border-radius:5px;
	 padding: 10px
}

div.pagenav{
	opacity: 0.8;
}

div.pagenav1{
	opacity: 0.95;
}


body{
    background-image:url(../resources/background.jpg);
	background-attachment:fixed;
     background-size: cover;
	 
}

.img-responsive {
	border-radius: 10px;
  display: block;
  height: auto;
  max-width: 100%;
}

.radius{
	border-radius:10px;
}



.ch_t{
    display:none;
}
.ch_label{
    display: inline-block;
    width: 40px;
    height: 19px;
    background-color: #ccc;
    border-radius: 20px;
    // 去掉外边款样式
    outline:none;
    border: 1px solid #ccc;
}
.ch_t:checked + .ch_label{
    background-color: #3C92DC;
}
.ch_t:checked + .ch_label:before{
    left:44%;
}
.ch_label:before{
    position:relative;
    top:-1px;
    content: "";
    display: block;
    width:50%;
    height:100%;
    background-color:#fff;
    border-radius:20px;
    border: 1px solid #ccc;
}

